<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.discordapp.com/attachments/1271225378031013892/1274557021420781630/reMindA.png?ex=66c2af3a&is=66c15dba&hm=ebd187369eb283c9956c9513aacf7cc24f98a69b6e0bca6cd41ff475bad36380&"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <title>{% block title %}Dashboard{% endblock %}</title>
  </head>
  <nav class="bg-[#591D79] p-4">
    <div class="container mx-auto flex justify-between items-center h-7">
      <div class="flex items-center">
        <!-- Logo and Brand Name -->
        <a href="/" class="flex items-center">
          <img
            src="https://cdn.discordapp.com/attachments/1271225378031013892/1274557021420781630/reMindA.png?ex=66c2af3a&is=66c15dba&hm=ebd187369eb283c9956c9513aacf7cc24f98a69b6e0bca6cd41ff475bad36380&"
            alt="reMindA Logo"
            class="h-6 mr-2"
            style="width: 55px; height: 55px"
          />
          <span class="text-white font-semibold text-lg">reMindA</span>
        </a>

        <!-- Toggle Button for Mobile -->
        <button
          class="text-white focus:outline-none lg:hidden ml-4"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>

      <!-- Navigation Links -->
      <div class="hidden lg:flex space-x-4">
        {% if user.is_authenticated %}
        <a
          class="text-white font-bold hover:text-purple-300 transition duration-300"
          id="home"
          href="/"
          >Dashboard</a
        >
        <a
          class="text-white font-bold hover:text-purple-300 transition duration-300"
          id="logout"
          href="/logout"
          >Logout</a
        >
        {% else %}
        <a
          class="text-white hover:text-purple-300 transition duration-300"
          id="login"
          href="/login"
          >Login</a
        >
        <a
          class="text-white hover:text-purple-300 transition duration-300"
          id="signUp"
          href="/sign-up"
          >Sign Up</a
        >
        {% endif %}
      </div>
    </div>

    <!-- Mobile Menu -->
    <div class="lg:hidden collapse" id="navbar">
      <div class="flex flex-col space-y-2 mt-2">
        {% if user.is_authenticated %}
        <a
          class="text-white hover:text-purple-300 transition duration-300"
          id="home"
          href="/"
          >Dashboard</a
        >
        <a
          class="text-white hover:text-purple-300 transition duration-300"
          id="logout"
          href="/logout"
          >Logout</a
        >
        {% else %}
        <a
          class="text-white hover:text-purple-300 transition duration-300"
          id="login"
          href="/login"
          >Login</a
        >
        <a
          class="text-white hover:text-purple-300 transition duration-300"
          id="signUp"
          href="/sign-up"
          >Sign Up</a
        >
        {% endif %}
      </div>
    </div>
  </nav>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    {% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
        fetch("/delete-note", {
          method: "POST",
          body: JSON.stringify({ noteId: noteId }),
        }).then((_res) => {
          window.location.href = "/";
        });
      }
    </script>
    <script>
      // Parallax Effect
      document.addEventListener("scroll", function () {
        const scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;
        const particleContainer = document.getElementById("particleContainer");
        particleContainer.style.transform = `translateY(${scrollTop * 0.5}px)`;
      });

      // Particle Animation
      document.addEventListener("DOMContentLoaded", function () {
        const particleContainer = document.getElementById("particleContainer");

        for (let i = 0; i < 100; i++) {
          const particle = document.createElement("div");
          particle.style.position = "absolute";
          particle.style.width = `${Math.random() * 5 + 2}px`;
          particle.style.height = particle.style.width;
          particle.style.borderRadius = "50%";
          particle.style.backgroundColor = `rgba(255, 255, 255, ${Math.random()})`;
          particle.style.top = `${Math.random() * 100}%`;
          particle.style.left = `${Math.random() * 100}%`;
          particle.style.animation = `float ${
            Math.random() * 5 + 5
          }s infinite ease-in-out`;

          particleContainer.appendChild(particle);
        }
      });

      // Particle float animation
      const style = document.createElement("style");
      style.innerHTML = `
          @keyframes float {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-20px);
            }
            100% {
              transform: translateY(0);
            }
          }
        `;
      document.head.appendChild(style);
    </script>
    {% endblock %}
  </body>
</html>
