<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"
    />
    <title>reMindA - Login</title>
  </head>

  <body>
    <div class="container">
    <div class="login-card-container">
      <div class="login-card">
        <div class="login-card-logo">
          <img src="https://media.discordapp.net/attachments/1271225378031013892/1274557021420781630/reMindA.png?ex=66c2af3a&is=66c15dba&hm=ebd187369eb283c9956c9513aacf7cc24f98a69b6e0bca6cd41ff475bad36380&=&format=webp&quality=lossless&width=962&height=962" alt="reMindA" />
        </div>
        <div class="login-card-header">
          <h1>Log In</h1>
          <div>Please login to use the platform</div>
        </div>
        <form method="POST" class="login-card-form">
          <div class="form-item">
            <span class="form-item-icon material-symbols-rounded">mail</span>
            <input
              type="email"
              placeholder="Enter Email"
              id="email"
              name="email"
              autofocus
              required
            />
          </div>
          <div class="form-item">
            <span class="form-item-icon material-symbols-rounded">lock</span>
            <input
              type="password"
              placeholder="Enter Password"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit">Log In</button>
        </form>
        <div class="login-card-footer">
          Don't have an account? <a href="/sign-up">Sign up.</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
</html>
